{% extends "base.html" %}

{% block content %}
    <h2>Banxa Orders</h2>
    {% if date_from and date_to %}
        <h3>from {{ date_from }} to {{ date_to }}</h3>
    {% endif %}
    {% if records %}
        <table class="main">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Amount crypto</th>
                    <th>Asset</th>
                    <th>Amount fiat</th>
                    <th>Payment currency</th>
                    <th>Transfer type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ record.date }}</td>
                        <td>{{ record.type }}</td>
                        <td>{{ record.amount_crypto }}</td>
                        <td>{{ record.asset }}</td>
                        <td>{{ record.amount_fiat }}</td>
                        <td>{{ record.payment_currency }}</td>
                        <td>{{ record.transfer_type }}</td>
                        <td>{{ record.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}